In [4]:
# imports
import requests
import pandas as pd
from census import Census
import matplotlib.pyplot as plt

# api keys
from config import wkey, epakey, censuskey

In [ ]:
# Abby's section starts here

In [5]:
# PurpleAir API

base_url = "https://www.purpleair.com/json"
response = requests.get(base_url)
puruple_air = response.json()

puruple_air['results'][0]

{'ID': 14633,
 'Label': ' Hazelwood canary ',
 'DEVICE_LOCATIONTYPE': 'outside',
 'THINGSPEAK_PRIMARY_ID': '559921',
 'THINGSPEAK_PRIMARY_ID_READ_KEY': 'CU4BQZZ38WO5UJ4C',
 'THINGSPEAK_SECONDARY_ID': '559922',
 'THINGSPEAK_SECONDARY_ID_READ_KEY': 'D0YNZ1LM59LL49VQ',
 'Lat': 37.275561,
 'Lon': -121.964134,
 'PM2_5Value': '2.65',
 'LastSeen': 1579579103,
 'Type': 'PMS5003+PMS5003+BME280',
 'Hidden': 'false',
 'isOwner': 0,
 'humidity': '48',
 'temp_f': '62',
 'pressure': '1010.68',
 'AGE': 0,
 'Stats': '{"v":2.65,"v1":2.65,"v2":3.09,"v3":4.15,"v4":11.63,"v5":10.04,"v6":6.26,"pm":2.65,"lastModified":1579579103798,"timeSinceModified":119956}'}

In [8]:
# Census API

c = Census(censuskey, year=2013)
# need to get this working for 2019, what is the difference between 2010 and 2019?
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E", "B19301_001E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_pd = pd.DataFrame(census_data)
census_pd

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,zip code tabulation area
0,ZCTA5 08518,74286.0,5217.0,41.5,33963.0,170.0,08518
1,ZCTA5 08520,90293.0,27468.0,37.4,37175.0,1834.0,08520
2,ZCTA5 08525,118656.0,4782.0,47.1,59848.0,43.0,08525
3,ZCTA5 08527,88588.0,54867.0,42.2,37021.0,2191.0,08527
4,ZCTA5 08528,58676.0,245.0,48.5,49117.0,0.0,08528
...,...,...,...,...,...,...,...
33115,ZCTA5 99923,21944.0,81.0,64.3,17225.0,4.0,99923
33116,ZCTA5 99925,38125.0,668.0,46.4,25094.0,124.0,99925
33117,ZCTA5 99926,50052.0,1630.0,31.4,22850.0,202.0,99926
33118,ZCTA5 99927,19000.0,111.0,59.4,21157.0,39.0,99927
33119,ZCTA5 99929,45649.0,2341.0,53.1,28399.0,215.0,99929

In [ ]:
# Abby's section ends here

In [ ]:
# Alan's section starts here

In [ ]:
# Alan's section ends here

In [ ]:
# Brandon's section starts here

In [ ]:
# Brandon's section ends here